<ion-content [fullscreen]="true" class="fondo">
  <div class="header">
    <div class="header-text">
      <span class="txtDorado">TeLlevo</span> <span class="txtBlanco">App</span>
    </div>
  </div>
  <div class="busqueda">
    <span>
      <ion-icon name="search-outline"></ion-icon>Buscar.... 
      <ion-icon name="close-outline"></ion-icon>
    </span>
  </div>

  <ion-toolbar color="white">
    <div class="direccion">
      <ion-icon name="location-outline" (click)="direccion()"></ion-icon>
      <ion-title (click)="direccion()">Dirección anterior</ion-title>
    </div>
    <h1 class="direccion-detallada" (click)="direccion()">Dirección detallada</h1>
  </ion-toolbar>

  <ion-toolbar color="white">
    <div class="direccion2">
      <ion-icon name="location-outline" (click)="direccion()"></ion-icon>
      <ion-title (click)="direccion()">Dirección anterior</ion-title>
    </div>
    <h1 class="direccion-detallada2" (click)="direccion()">Dirección detallada</h1>
  </ion-toolbar>

  <br>
  <div class="titulo">Sugerencias</div>
  <div class="sugerencias">
    <div class="pasajero"><ion-icon name="person-outline" (click)="pasajero1()"></ion-icon>Pasajero</div>
    <div class="conductor"><ion-icon name="car-outline" (click)="conductor()"></ion-icon>Conductor</div>
  </div>

  <ion-footer>
    <div class="footer">
      <ion-icon name="home-outline" (click)="menu()"></ion-icon>
      <ion-icon name="car-sport-outline" (click)="servicios()"></ion-icon>
      <ion-icon name="person-circle-outline" (click)="cuenta()"></ion-icon>
    </div>
  </ion-footer>
</ion-content>
