<ion-content [fullscreen]="true" class="fondo">
  <div class="header">
    <div class="header-text">
      <span class="txtDorado">TeLlevo</span> <span class="txtBlanco">App</span>
    </div>
  </div>
  <ion-icon name="chevron-back-outline" class="flecha" (click)="cuenta()"></ion-icon>
  <div class="titulo">Listado de Trayectos</div>
  <BR><BR>
  <div class="icono">
    <ion-icon name="car-outline" class="icono-grande"></ion-icon>
    <div class="detalle">
      <span>Dirección Inicio</span>
      <span>Dirección Final</span>
      <span>$999.999</span>
    </div>
  </div>
  <div class="icono">
    <ion-icon name="car-outline" class="icono-grande"></ion-icon>
    <div class="detalle">
      <span>Dirección Inicio</span>
      <span>Dirección Final</span>
      <span>$999.999</span>
    </div>
  </div>

</ion-content>
